{% extends "views/_base/base.html" %}

{% block introduction %}
    <h1>Visual Viewport API</h1>

    <p>The Visual Viewport API provides an explicit mechanism for querying and modifying the properties of the visual viewport. The visual viewport is the visual portion of a screen excluding on-screen keyboards, areas outside of a pinch-zoom area, or any other on-screen artifact that doesn't scale with the dimensions of a page.</p>
{% endblock %}

{% block exercises %}
    <h2>Exercises</h2>

    <ul>
        <li>
            <a href="/exercise-1">Exercise 1: Annoying Advertisement</a>
        </li>
        <li>
            <a href="/exercise-2">Exercise 2: Let's fix position fixed!</a>
        </li>
        <li>
            <a href="/exercise-3">Exercise 3: Emoji Keyboard</a>
        </li>
    </ul>
{% endblock %}

{% block presentation %}
    <h2>Presentation</h2>

    <div class="cc-presentation">
        {# TODO: add url of Google Slides presentation #}
        {# <iframe src="[URL]" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> #}
    </div>
{% endblock %}

{% block stream %}
    <h2>Stream</h2>

    <div class="cc-stream">
        {# TODO: add url of YouTube stream #}
        {# <iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe> #}
    </div>
{% endblock %}