{% extends "views/_base/base.html" %}

{% block navigation %}
    <nav class="cc-navigation">
        <a href="/" class="cc-back-link">&#8592; back to overview</a>
        <a href="/exercise-1-answer/" class="cc-answer-link">See answer &#8594;</a>
    </nav>
{% endblock %}

{% block introduction %}
    <h1>Annoying Advertisement</h1>
    <p>This demo showcases how to hide elements whenever the user uses pinch-zoom.</p>
{% endblock %}

{% block html %}
    <section class="cc-html-playground">

        <div id="annoyingAdd" class="annoyingAdd">
            <h2>Annoying Advertisement</h2>
            <p>How to Enlarge your Creativity naturally (+12 inches)?</p>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat augue, in auctor tortor. Phasellus a diam pharetra, semper dui in, cursus mi. Pellentesque vestibulum, lectus ac facilisis semper, mi enim scelerisque nisi, at laoreet tortor turpis at nisi. Donec ac mi est. Sed tempor purus in dictum vestibulum. Fusce commodo lorem ac accumsan sagittis. Nulla luctus ullamcorper quam, quis convallis eros tincidunt ultricies. Nunc congue quam et neque pretium bibendum. Proin faucibus dui quis magna aliquet, eget pellentesque sapien facilisis. Vivamus turpis lectus, lobortis vel ante non, convallis eleifend ipsum. Ut facilisis semper magna, vel semper erat mattis et. Cras orci orci, rutrum malesuada nunc ut, congue dignissim sem. Sed eleifend iaculis ligula in lobortis. Vivamus euismod semper metus vitae dapibus. In aliquet sit amet purus a lacinia. Maecenas sagittis libero maximus lacus efficitur congue.
        </p>
        <p>Aenean dapibus metus vel turpis hendrerit porta sit amet id libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse luctus arcu finibus, bibendum est nec, porttitor elit. Etiam vulputate risus lorem, eget viverra massa facilisis ut. Vestibulum iaculis, ipsum id bibendum pharetra, dui odio pellentesque est, ut ultricies magna mauris id velit. Integer imperdiet leo tristique lectus faucibus, quis pellentesque dolor pulvinar. Praesent tincidunt urna in nisl facilisis laoreet. Proin elementum lorem nec orci varius viverra. Duis consectetur in diam nec malesuada. Nullam pellentesque convallis justo a facilisis. Nullam nulla lorem, egestas ut tortor at, maximus cursus nulla. Aenean hendrerit rutrum nulla, vitae finibus nisl aliquam eget. Sed rhoncus sit amet ex in finibus. Ut rutrum ligula a mollis molestie. Etiam commodo sed dui sed finibus. Ut ut enim vel arcu auctor sagittis id quis ex.
        </p>
        <p>Pellentesque lobortis ex felis, at maximus massa mollis non. Praesent facilisis tellus vitae diam consequat, in suscipit est congue. Suspendisse eu nisl convallis, maximus orci nec, varius quam. Cras in quam non lectus aliquet ornare. Nam sollicitudin, neque eu lobortis tincidunt, ante sapien aliquet nibh, non ultricies libero enim in tellus. Curabitur vel aliquam quam. Pellentesque posuere volutpat magna ac congue. Nunc quis metus sed felis ullamcorper tempor at sed neque. Aliquam vehicula scelerisque elementum.
        </p>
        <p>In in justo arcu. Donec commodo vel sapien sit amet vehicula. Vestibulum fringilla, purus eget bibendum efficitur, tellus eros interdum erat, a dignissim dui dui vitae ante. Pellentesque lacinia justo sit amet purus consequat dictum. Quisque consectetur porttitor tellus, ac euismod dolor sollicitudin consectetur. In suscipit quam justo. Ut commodo felis at mauris rhoncus pharetra.
        </p>
        <p>Integer hendrerit arcu vel elit efficitur sodales ac id nunc. Cras gravida lobortis tellus, sit amet faucibus dolor ullamcorper at. Donec ultrices ullamcorper mauris eu faucibus. Sed varius volutpat sapien quis fringilla. Pellentesque id condimentum felis, eget varius urna. Sed eget rhoncus metus. Morbi a sodales lorem. Cras pulvinar laoreet tortor. Duis tortor leo, scelerisque vel commodo quis, lobortis ut nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat augue, in auctor tortor. Phasellus a diam pharetra, semper dui in, cursus mi. Pellentesque vestibulum, lectus ac facilisis semper, mi enim scelerisque nisi, at laoreet tortor turpis at nisi. Donec ac mi est. Sed tempor purus in dictum vestibulum. Fusce commodo lorem ac accumsan sagittis. Nulla luctus ullamcorper quam, quis convallis eros tincidunt ultricies. Nunc congue quam et neque pretium bibendum. Proin faucibus dui quis magna aliquet, eget pellentesque sapien facilisis. Vivamus turpis lectus, lobortis vel ante non, convallis eleifend ipsum. Ut facilisis semper magna, vel semper erat mattis et. Cras orci orci, rutrum malesuada nunc ut, congue dignissim sem. Sed eleifend iaculis ligula in lobortis. Vivamus euismod semper metus vitae dapibus. In aliquet sit amet purus a lacinia. Maecenas sagittis libero maximus lacus efficitur congue.
        </p>
        <p>Aenean dapibus metus vel turpis hendrerit porta sit amet id libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse luctus arcu finibus, bibendum est nec, porttitor elit. Etiam vulputate risus lorem, eget viverra massa facilisis ut. Vestibulum iaculis, ipsum id bibendum pharetra, dui odio pellentesque est, ut ultricies magna mauris id velit. Integer imperdiet leo tristique lectus faucibus, quis pellentesque dolor pulvinar. Praesent tincidunt urna in nisl facilisis laoreet. Proin elementum lorem nec orci varius viverra. Duis consectetur in diam nec malesuada. Nullam pellentesque convallis justo a facilisis. Nullam nulla lorem, egestas ut tortor at, maximus cursus nulla. Aenean hendrerit rutrum nulla, vitae finibus nisl aliquam eget. Sed rhoncus sit amet ex in finibus. Ut rutrum ligula a mollis molestie. Etiam commodo sed dui sed finibus. Ut ut enim vel arcu auctor sagittis id quis ex.
        </p>
        <p>Pellentesque lobortis ex felis, at maximus massa mollis non. Praesent facilisis tellus vitae diam consequat, in suscipit est congue. Suspendisse eu nisl convallis, maximus orci nec, varius quam. Cras in quam non lectus aliquet ornare. Nam sollicitudin, neque eu lobortis tincidunt, ante sapien aliquet nibh, non ultricies libero enim in tellus. Curabitur vel aliquam quam. Pellentesque posuere volutpat magna ac congue. Nunc quis metus sed felis ullamcorper tempor at sed neque. Aliquam vehicula scelerisque elementum.
        </p>
        <p>In in justo arcu. Donec commodo vel sapien sit amet vehicula. Vestibulum fringilla, purus eget bibendum efficitur, tellus eros interdum erat, a dignissim dui dui vitae ante. Pellentesque lacinia justo sit amet purus consequat dictum. Quisque consectetur porttitor tellus, ac euismod dolor sollicitudin consectetur. In suscipit quam justo. Ut commodo felis at mauris rhoncus pharetra.
        </p>
        <p>Integer hendrerit arcu vel elit efficitur sodales ac id nunc. Cras gravida lobortis tellus, sit amet faucibus dolor ullamcorper at. Donec ultrices ullamcorper mauris eu faucibus. Sed varius volutpat sapien quis fringilla. Pellentesque id condimentum felis, eget varius urna. Sed eget rhoncus metus. Morbi a sodales lorem. Cras pulvinar laoreet tortor. Duis tortor leo, scelerisque vel commodo quis, lobortis ut nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat augue, in auctor tortor. Phasellus a diam pharetra, semper dui in, cursus mi. Pellentesque vestibulum, lectus ac facilisis semper, mi enim scelerisque nisi, at laoreet tortor turpis at nisi. Donec ac mi est. Sed tempor purus in dictum vestibulum. Fusce commodo lorem ac accumsan sagittis. Nulla luctus ullamcorper quam, quis convallis eros tincidunt ultricies. Nunc congue quam et neque pretium bibendum. Proin faucibus dui quis magna aliquet, eget pellentesque sapien facilisis. Vivamus turpis lectus, lobortis vel ante non, convallis eleifend ipsum. Ut facilisis semper magna, vel semper erat mattis et. Cras orci orci, rutrum malesuada nunc ut, congue dignissim sem. Sed eleifend iaculis ligula in lobortis. Vivamus euismod semper metus vitae dapibus. In aliquet sit amet purus a lacinia. Maecenas sagittis libero maximus lacus efficitur congue.
        </p>
        <p>Aenean dapibus metus vel turpis hendrerit porta sit amet id libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse luctus arcu finibus, bibendum est nec, porttitor elit. Etiam vulputate risus lorem, eget viverra massa facilisis ut. Vestibulum iaculis, ipsum id bibendum pharetra, dui odio pellentesque est, ut ultricies magna mauris id velit. Integer imperdiet leo tristique lectus faucibus, quis pellentesque dolor pulvinar. Praesent tincidunt urna in nisl facilisis laoreet. Proin elementum lorem nec orci varius viverra. Duis consectetur in diam nec malesuada. Nullam pellentesque convallis justo a facilisis. Nullam nulla lorem, egestas ut tortor at, maximus cursus nulla. Aenean hendrerit rutrum nulla, vitae finibus nisl aliquam eget. Sed rhoncus sit amet ex in finibus. Ut rutrum ligula a mollis molestie. Etiam commodo sed dui sed finibus. Ut ut enim vel arcu auctor sagittis id quis ex.
        </p>
        <p>Pellentesque lobortis ex felis, at maximus massa mollis non. Praesent facilisis tellus vitae diam consequat, in suscipit est congue. Suspendisse eu nisl convallis, maximus orci nec, varius quam. Cras in quam non lectus aliquet ornare. Nam sollicitudin, neque eu lobortis tincidunt, ante sapien aliquet nibh, non ultricies libero enim in tellus. Curabitur vel aliquam quam. Pellentesque posuere volutpat magna ac congue. Nunc quis metus sed felis ullamcorper tempor at sed neque. Aliquam vehicula scelerisque elementum.
        </p>
        <p>In in justo arcu. Donec commodo vel sapien sit amet vehicula. Vestibulum fringilla, purus eget bibendum efficitur, tellus eros interdum erat, a dignissim dui dui vitae ante. Pellentesque lacinia justo sit amet purus consequat dictum. Quisque consectetur porttitor tellus, ac euismod dolor sollicitudin consectetur. In suscipit quam justo. Ut commodo felis at mauris rhoncus pharetra.
        </p>
        <p>Integer hendrerit arcu vel elit efficitur sodales ac id nunc. Cras gravida lobortis tellus, sit amet faucibus dolor ullamcorper at. Donec ultrices ullamcorper mauris eu faucibus. Sed varius volutpat sapien quis fringilla. Pellentesque id condimentum felis, eget varius urna. Sed eget rhoncus metus. Morbi a sodales lorem. Cras pulvinar laoreet tortor. Duis tortor leo, scelerisque vel commodo quis, lobortis ut nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
    </section>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .cc-html-playground p {
            font-size: 50%;
        }

        .annoyingAdd {
            align-items: center;
            background-color: #ffe400;
            border: 10px solid blue;
            color: blue;
            display: flex;
            flex-direction: column;
            font-family: 'Comic Sans MS';
            justify-content: center;
            left: 50%;
            margin-left: -40%;
            padding: 3rem;
            position: fixed;
            text-align: center;
            top: 50%;
            width: 80%;
        }

        .annoyingAdd h2 {
            font-size: 2rem;
            margin: 0 0 1rem;
        }

        .annoyingAdd p {
            font-size: 1.5rem;
            margin: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const annoyingAdd = document.getElementById("annoyingAdd");
        const viewport = window.visualViewport;

        let pendingUpdate = false;

        function update() {
            // If we're already going to handle an update, return.
            if (pendingUpdate) {
                return;
            }

            pendingUpdate = true;

            // Use requestAnimationFrame so the update happens before next render.
            requestAnimationFrame(() => {
                pendingUpdate = false;

                // ===================================================================== \\
                // [TODO]: Hide the 'Annoying Advertisement' whenever the user zooms in. \\
                // ===================================================================== \\

                if (false) {
                    // Zoomed in? Hide it. (display: none;)
                } else {
                    // Else: Show it. (display: flex;)
                }
            });
        }

        // ================================================================================= \\
        // [TODO]: Call the 'update' function whenever the user resizes the Visual Viewport. \\
        // ================================================================================= \\
    </script>
{% endblock %}